@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: Roboto Slab;
    scrollbar-width: thin;
    scrollbar-color: #FAA61A #505637;
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
}

div {
    display: block;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d7e00;
    border-radius: 20px;
    border: 3px solid #000000;
}


/* Header */
header {
    display: flex;
    justify-content: center;
    height: 110px;
    background-color: #000000;
}

.navbar {
    min-height: 60px;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 850px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header */

/* Menu */
.logo img {
    max-width: 300px;
    width: auto;
    height: 100px;
    margin-top: -10px;
}

.menu {
    display: flex;
    align-items: center;
    text-align: right;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

nav .active a,
nav a:hover {
    background-color: #1d7e00;
    color: #ffffff;
}

nav .container .logo a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.social_icons a {
    display: flex;
    margin-top: -6px;
}

/* Menu */

/* Menu Mobile */

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 5px;
    background-color: #1d7e00;
    border-radius: 5px;
}

/* Menu Mobile */

/* Banner */
#banner {
    display: flex;
    justify-content: end;
    background: url("../img/bg.jpg");
    background-position: right;
    background-size: cover;
    height: 700px;
}

.banner_headline {
    color: #ffffff;
    margin: 150px 50px 0 0;
    text-align: right;
    font-size: 35px;
}

.ita {
    color: #00ca1b;
}

.li {
    color: #ffffff;
}

.ana {
    color: #ec0000;
}

a:hover {
    text-decoration: none;
}

/* Banner */

/* Sobre */
.about {
    margin: 0 auto;
    background-image: url("../img/bg-about.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#diroma {
    padding-top: 20px;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    max-width: 700px;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
}

.h2,
h2 {
    font-size: 30px;
}

.lead {
    line-height: 180%;
    max-width: 830px;
    color: #ffffff;
    font-size: 25px;
    margin: 0 auto;
}

.title-about {
    color: rgb(255, 196, 0);
    font-size: 45px;
}

/* Sobre */

/* servicos */


.title-service {
    color: rgb(255, 196, 0);
    font-size: 45px;
    margin-top: 30px;
}

.bg-services {
    /* background-position: 0% 57.7969px; */
    background-image: url("../img/bg-products.jpg");
    background-size: cover;
    background-attachment: 100%;
    width: 100%;
}

.large-padding-v {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .heading {
    font-size: 30px;
    max-width: 700px;
    text-align: center;
    line-height: 1.5;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    position: relative;
}

h3.heading {
    color: rgb(255, 196, 0);
}

.heading {
    margin-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.services-text p {
    font-family: Tahoma, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 1px 1 px 2px rgb(0 0 0 / 48%);
}

.pattern {
    height: 60px;
    background-image: url("../img/bg-pattern.jpg");
    background-size: cover;
    border-bottom: 2px solid rgba(8, 8, 8, 0.28);
}

#icones-servicos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-pratos {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    border-radius: 15px;
}


/* Footer */
footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

footer,
footer a,
footer p,
footer address,
footer h4 {
    color: #ffffff;
}

footer .contact {
    font-size: 20px !important;
}

.wrapper-address {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    padding-bottom: 30px;
}

address {
    line-height: 30px;
}

div.address {
    margin-bottom: 30px;
}

h4 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 135%;
}

a,
a:hover {
    text-decoration: none;
}

div.address address {
    margin-bottom: 3px;
    display: block;

}

.wrapper-address a.email {
    color: #fff;
}

footer .block-2 {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-top: 1px solid #1d7e00;

    color: #888888;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

footer .copyright p {
    margin: 30px 0 30px 0;
    color: rgba(255, 255, 255, 0.459);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

footer .git {
    color: rgba(255, 255, 255, 0.459);
}

.cont-footer {
    align-items: center;
}

iframe {
    border-radius: 10px;
}

#social {
    margin-top: 15px;
    padding-right: 20px;
}

/* Footer */

/* Back to Top */

.back-to-top {
    background-color: #1d7e00;
    border-radius: 65px;
    bottom: 25px;
    box-shadow: 2px 3px 19px -2px rgba(114, 114, 114, 0.75);
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 30px;
    width: 40px;
    z-index: 3;
    display: none;
}

.back-to-top::after {
    content: '▲';
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 10px;
}

/* Back to Top */

/* Margens e Gerais */
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.large-paddint-top {
    padding-top: 60px;
}

.large-margin-bottom {
    margin-bottom: 60px;
}

.padding {
    padding: 18px !important;
}

.padding-bottom {
    padding-bottom: 18px !important;
}

.xlarge-padding-v {
    padding-top: 65px;
    padding-bottom: 65px;
}

.xlarge-margin-v {
    margin-top: 65px;
    margin-bottom: 65px;
}

.xlarge-margin-top {
    margin-top: 65px;
}

.no-padding {
    padding: 0px !important;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.no-margin-top {
    margin-top: 0x !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.max-padding-top {
    padding-top: 27px !important;
}

.max-margin-top {
    margin-top: 27px !important;
}

.max-margin-bottom {
    margin-bottom: 27px !important;
}

.margin-right {
    margin-right: 18px !important;
}

.margin-left {
    margin-left: 18px !important;
}

.margin-bottom {
    margin-bottom: 18px !important;
}

.margin-top {
    margin-top: 18px !important;
}

.margin-h {
    margin-left: 18px;
    margin-right: 18px;
}

.no-margin {
    margin: 0px !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

img {
    vertical-align: middle;
    border: 0;
}

.col-servicos h3 {
    font-size: 14px;
}

.i-box {
    text-align: center;
}

.col-xs-6 {
    width: 50%;
}

.col-md-1,
.col-sm-3,
.col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Margens e Gerais */

/* Responsive */

@media (max-width:420px) {
    header .container {
        flex-direction: row;
    }

    .container {
        flex-direction: column;
        justify-content: space-around;
        max-width: 80%;

    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        margin-top: -15px;
    }

    .menu {
        text-align: center;
        margin-right: 10px;
        margin-top: -20px;

    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 200px;
    }

    .lead {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 1.7em;
    }

    .banner_headline {
        font-size: 22px;
        margin: 25px 10px 0 0;
    }

    #banner {
        background-position: center;
        height: 350px;
    }

    .title-about {
        font-size: 26px;
    }

    .desc-about {
        font-size: 20px;
    }

    .icons_banner {
        padding: 0;
    }

    .services-text {
        display: flex;
        flex-direction: column;
    }

    .img-pratos {
        max-width: 350px;
        padding-left: 5px;
    }

    .max-margin-top {
        margin-top: 15px !important;
    }

    .large-padding-v {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .xlarge-padding-v {
        padding-top: 45px;
        padding-bottom: 65px;
    }

    .diroma-text p{
        font-size: 14px;
    }

    .footer_area {
        padding: 20px;
        align-items: center;
    }

    #diroma {
        padding-top: 0;
    }

    footer .contact {
        font-size: 20px !important;
        text-align: center;
        max-width: 350px;

    }

    #dados-contato {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .email {
        font-size: 18px;
        text-align: center;
        align-items: center;
    }

    .wrapper-address {
        font-family: Tahoma, sans-serif;
        font-size: 18px;
        text-align: center;
        align-items: center;
    }

    footer {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .block-2 {
        max-width: 335px;
        padding-top: 0 !important;
    }

    footer .copyright p {
        margin: 0;
    }

    .container-fluid {
        max-width: 400px;
        padding-left: 30px;
    }

    .navbar {
        max-width: 100%;
    }

    #social {
        font-size: 40px;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .cont-footer {
        display: flex;
        align-items: center;
    }

    .back-to-top {
        right: 30px;
        bottom: 50px;
    }

    iframe {
        width: 330px;
        margin-left: -15px !important;
    }

    .row {
        margin-right: 0;
    }

    .banner_buttons ul,
    .banner_buttons li {
        margin-left: 28px;
        /* margin-top: 25px; */
        flex-wrap: wrap;

    }

}